*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-align: center;
}
#locationName{
    font-size: 30px;
}
#description{
    font-size: 25px;
}
#temp{
    font-size: 35px;
    font-weight: bolder;
}
.container{
    border: solid red 2px;
    width:auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(8, 8, 8);
    opacity: 0.7;
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 1000;

}
#map { height: 100vh; 
    position:relative;
}
#icon {
    width: 60px;
    height: 60px;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    margin:auto;
}
#subTemp{
    color: rgb(5, 23, 55);
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    

}
#windSpeed{
    font-weight: bold;
}
